<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body style="margin: 0px 5rem;">
    <div>
        {% include 'header.html'%}
    </div>
    <div>
        <div style="font-size: large; font-family: monospace; font-weight: bolder;">Total Players : {{total_players}} </div> 
        {% for i in playerList|dictsort:'age' %}
            <div style="border: solid 1px; margin: 10px 0px; padding: 5px;">
                <p style="font-weight: 700; font-size: larger; font-family: monospace;">{{i.name}}, age : {{i.age}}, living in : {{i.address}}</p>
                <p style="font-family: monospace; font-size: large;">{{i.description | truncatechars:300}}</p>
                <p style="font-family: monospace">{{i.recentDate | date}}</p>
            </div>
        {% endfor %}
    </div>
    <div>
        {% include 'footer.html' %}
    </div>
</body>
</html>